.container{
  text-align: center;
  margin: auto;
  padding:40px;
}
p{
  font-family: Georgia, serif;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  text-shadow: 5px 0 #232931;
  color: #753c44
}
footer{
  text-align: center;

}

button{
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  padding: 11px 15px;
  background: #753c44;
  color: #fff;
}

button:hover{
  background: #6a353c;
}

img{
  filter: grayscale(1);
  width: 80%;
}

.dice {
  text-align: center;
  display: inline-block;  
  margin: 0 40px;
}